@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

html,
body {
  @apply bg-background text-foreground transition-colors duration-500 font-sans antialiased overflow-x-hidden;
}

@layer utilities {
  .glass {
    @apply bg-white/70 dark:bg-white/5 backdrop-blur-2xl border border-gray-200 dark:border-white/10 shadow-xl;
  }
}